# Flask Config
FLASK_ENV=development
SECRET_KEY=cf414e67cb61ab121497c7e1a0999e8f93040a908af052060ef0b8f6a09aa1e8
JWT_SECRET=cf414e67cb61ab121497c7e1a0999e8f93040a908af052060ef0b8f6a09aa1e8

# Database
DATABASE_URL=sqlite:///zero_trust.db

# IBM Cloud Services (Optional/Fallback Support)
WATSON_API_KEY=
WATSON_PROJECT_ID=
WATSON_URL=https://us-south.ml.cloud.ibm.com
COS_API_KEY=
COS_SERVICE_INSTANCE_ID=
COS_BUCKET_NAME=zerotrust-access-logs
COS_ENDPOINT=https://s3.private.us.cloud-object-storage.appdomain.cloud

# External AI API
GEMINI_API_KEY=your_key_here_placeholder